 /*CC RESET*/
 * {
     margin: 0;
     padding: 0;
 }

 img {
     border: 0;
 }

 body {
     background: #ddecf6;
     width: 100%;
     max-width: 100%;
     font-family: Arial, Helvetica, sans-serif;
 }

 header {
     background: #fff;
     width: 100%;
     height: 90px;
     border-top: 5px solid #fff;
     font-family: Arial;
 }

 #logo {
     float: left;
     font-size: 440%;
     font-family: Arial;
     margin: 5px 0%;
     padding: 0px;
     text-align: center;
     width: 100%;
 }

 #logo a {
     text-decoration: none;
     color: #ca0000;
     font-weight: 750;
 }

 a:hover {
     text-decoration: underline;
 }

 .modoru {
     margin: 20px 0px 20px;
     padding: 30px 15% 30px;
     font-size: 120%;
     color: blue;
     text-decoration: none;
 }

 .gazou {
     text-align: center;
 }

 .dai {
     padding: 0px;
     margin: 20px 3% 0px;
     font-size: 160%;
     text-align: center;
 }

 p {
     font-size: 95%;
     padding: 0px;
     margin: 0%;
     text-align: center;
     text-wrap: balance;
 }

 .peage {
     border: 4px #e3f4ff solid;
     padding: 0px 0px 30px;
     margin: 5px auto 30px;
     width: min(90%, 600px);
 }

 .peage img {
     text-align: center;
 }

 .naiyou {
     font-size: 120%;
     margin: 10px 5% 10px;
     padding: 0px;
 }

 .naiyou button {
     font-size: 130%;
     margin: 10px 2.5% 50px;
     padding: 5px 10% 10px;
 }

 .naiyou h3 {
     margin: 30px 5% 0px;
     text-align: center;

 }

 .botan {
     font-size: 110%;
     padding-top: 0%;
     text-decoration: none;
 }

 button {
     font-family: sans-serif;
 }

 /*パンくずリスト*/
 .breadcrumb {
     display: flex;
     list-style: none;
     padding: 7px 0 0px;
     margin: 0 auto;
     background-color: #ddecf6;
     border-bottom: 1px solid #ddecf6;
     font-size: 15px;
     width: min(90%, 600px);
     box-sizing: border-box;
     justify-content: left;
 }

 .breadcrumb li {
     margin: 0 5px;
 }

 .breadcrumb li a {
     text-decoration: none;
     color: #0073e6;
 }

 .breadcrumb li a:hover {
     text-decoration: underline;
 }

 .breadcrumb li:not(:last-child)::after {
     content: "　>";
     margin: 0 5px;
     color: #777;
 }