 /*CC RESET*/
 * {
     margin: 0;
     padding: 0;
 }

 img {
     border: 0;
 }

 body {
     background: #ddecf6;
     width: 100%;
     max-width: 100%;
     font-family: Arial, Helvetica, sans-serif;
 }

 header {
     background: #fff;
     width: 100%;
     height: 90px;
     border-top: 5px solid #fff;
     font-family: Arial;
 }

 #logo {
     float: left;
     font-size: 440%;
     font-family: Arial;
     margin: 10px 0%;
     padding: 0px;
     text-align: center;
     width: 100%;
 }

 #logo a {
     text-decoration: none;
     color: #ca0000;
     font-weight: 750;
 }

 a:hover {
     text-decoration: underline;
 }

 .modoru {
     margin: 20px 0px 20px;
     padding: 30px 15% 30px;
     font-size: 120%;
     color: blue;
     text-decoration: none;
 }
 nav{
    width: min(90%, 600px);
    margin:sauto;
    font-size: 90%;
    
 }
.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.breadcrumb li:not(:list-of-type)::after {
    content: ">";
    margin: 0.6em;
    color: #777;
}

 .gazou {
     text-align: center;
 }

 .dai {
     padding: 0px;
     margin: 20px 3% 0px;
     font-size: 160%;
     text-align: center;
 }

 p {
     font-size: 95%;
     padding: 0px;
     margin: 0%;
     text-align: center;
     text-wrap: balance;
 }

 .peage {
     border: 4px #e3f4ff solid;
     padding: 0px 0px 30px;
     margin: 30px auto;
     width: min(90%, 600px);
 }

 .peage img {
     text-align: center;
 }

 .naiyou {
     font-size: 120%;
     margin: 10px 5% 10px;
     padding: 0px;
 }

 .naiyou button {
     font-size: 130%;
     margin: 10px 2.5% 50px;
     padding: 5px 10% 10px;
 }

 .naiyou h3 {
     margin: 30px 5% 0px;
     text-align: center;

 }

 .botan {
     font-size: 110%;
     padding-top: 0%;
     text-decoration: none;
 }

 button {
     font-family: sans-serif;
 }
