/* This is a CSS file */

table{
    border:1px #000 solid;
    margin: 0px auto;
    border-collapse: collapse;
    text-align: center;
    font-size: 80%;
    width: 100%;
}
table caption{
    font-size: 120%;
    margin-bottom: 3px;
}
table th{
    border: 1px #000 solid;
}
table td{
    color: black;
    border: 1px #000 solid;
    text-align: center;
    height: 65px;
    font-size: 1.0em;
    text-wrap: balance;

}
table td:first-child {
    width: 35%;
}
table td:second-child {
    width: 15%;
}
table td:third-child {
    width: 35%;
}
table td:last-child{
    width: 20%;
    font-size: 0.7em;

}
table tr td input{
    width: 80%;

}
