/* This is a CSS file */

table{
    border:1px #000 solid;
    margin: 0px auto;
    border-collapse: collapse;
    text-align: center;
    font-size: 80%;
    width: 100%;
}
table caption{
    font-size: 120%;
    margin-bottom: 3px;
}
table th{
    border: 1px #000 solid;
}
table td{
    color: black;
    border: 1px #000 solid;
    text-align: center;
    height: 40px;
    font-size: 110%;
}
table td:first-child {
    width: 40%;
}
table td:second-child {
    width: 10%;
}
table td:third-child {
    width: 35%;
}
table td:last-child{
    width: 20%;
}
table tr td button{
    width: 80%;
}
#o538 {
    font-size: 80%;
    margin: 5px 0;
    padding: 2px 0;
}