

.pa {
    font-size:120%;
    color: #000;
    margin: 5px;
}
h1{
    font-size:250%;
    margin-top:30px;
    color: #000;
}
.inpton {
    font-size:150%;
    color: #000;
    margin-top:15px;
    padding: 0px;
    text-align: center;
}



